@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: #FFFFFF;
    // background: linear-gradient(
    //         to bottom,
    //         transparent,
    //         rgb(var(--background-end-rgb))
    //     )
    //     rgb(var(--background-start-rgb));
}


.text-primary1 {
    @apply text-lime-300 font-bold hover:bg-blue-200/[.3];
}

p {
    margin: 1em 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

// view transitions (test)
//@media not (prefers-reduced-motion: reduce) { // disable the morph effect for people who get motion sickness
	// .cx-view-transition-logo {
    //     view-transition-name: logo;
    // }
//}
// ::view-transition-old(root),
// ::view-transition-new(root) {
//     animation-duration: 1s;
// }


